FIREBASE_CONFIG = {"apiKey": "1234","authDomain": "something.firebaseapp.com","databaseURL": "https://something.firebaseio.com","projectId": "something","storageBucket": "something.appspot.com","messagingSenderId": "1234"}