<ion-header>

  <ion-navbar>
    <ion-title> Micro:bit ? </ion-title>


  </ion-navbar>

</ion-header>


<ion-content padding>
  <button (touchstart)="arrowLeftActive = true" (touchend)="arrowLeftActive = false">
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
  <button id="forward" (touchstart)="arrowForwardActive = true" (touchend)="arrowForwardActive = false">
    <ion-icon name="arrow-round-up"></ion-icon>
  </button>
  <button (touchstart)="arrowRightActive = true" (touchend)="arrowRightActive = false">
    <ion-icon name="arrow-round-forward"></ion-icon>
  </button>
  <button id="backward" (touchstart)="arrowBackwardActive = true" (touchend)="arrowBackwardActive = false">
    <ion-icon name="arrow-round-down"></ion-icon>
  </button>
  <button id="warning" (click)="stop()">
    <ion-icon name="warning"></ion-icon>
  </button>

</ion-content>

<!-- <ion-list *ngIf="connecteddd">
  <p ion-item *ngFor="let service of peripheral.services">
    {{service}}
  </p>
</ion-list> -->