body {
  background-color: $dark;
  background: linear-gradient(to bottom, $tertiary-lighter, $tertiary-darker);
}


ion-spinner {
  position: absolute;
  right: 50px;
}

.scroll-content {
  // background: linear-gradient(to right, #b64ce0 50%, #774ee6 50%);
  color: #61ada0;
}
.toolbar-title-md {
  text-align: center;
  // header Title!
}
.content-md {
  // för allt
}

.tab-button-text {
  font-size: 50pt;
  font-weight: bold;
}
.toolbar-background-md {
  background-color: $primary;
}
.toolbar-title-md {
  color: $light;
}
.tabs-md .tab-button[aria-selected="true"] {
  color: $light;
}
.tabs-md .tabbar {
  background-color: #000;
  display: none;
}




.side-button {
  margin: 0 auto;
  z-index: 12;
  height: 100%;
  width: 50%;
  color: $light;
  float: left;
  padding: 5%;
}

.side-button ion-icon {
  width: 10%;
  font-size: 24pt;
  
}

.side-button p {
  font-size: 12pt;
}

#robot-button {
  background: linear-gradient(to bottom, $primary, $primary-lighter, $primary-darker);
  //background-color: #b2d5ba;
}

#driver-button {
  background: linear-gradient(to bottom, $tertiary, $tertiary-lighter, $tertiary-darker);
  //background-color: #61ada0;
}
