body {
  background-color: $dark;
  
}


ion-spinner {
  position: absolute;
  right: 50px;
}

.scroll-content {
  // background: linear-gradient(to right, #b64ce0 50%, #774ee6 50%);
  color: #61ada0;
}
.toolbar-title-md {
  text-align: center;
  // header Title!
}
.content{
  // för allt
  background: linear-gradient(to bottom, $tertiary-lighter, $tertiary-darker);
}

.tab-button-text {
  font-size: 50pt;
  font-weight: bold;
}
.toolbar-background-md {
  background-color: $primary;
}
.toolbar-title-md {
  color: $light;
}
.tabs-md .tab-button[aria-selected="true"] {
  color: $light;
}
.tabs-md .tabbar {
  background-color: #000;
  display: none;
}

.welcome-panel {
  margin: 0 auto;
  z-index: 12;
  height: 100%;
  width: 100%;
  color: $light;
  float: left;
  padding: 5%;
}

.recent-robot-button {
  display: block;
}

.recent-robot-call-icon {
  margin-left: 10px;
}

// .side-button p {
//   font-size: 12pt;
// }

// #robot-button {
//   background: linear-gradient(to bottom, $primary, $primary-lighter, $primary-darker);
//   //background-color: #b2d5ba;
// }

// #driver-button {
//   background: linear-gradient(to bottom, $tertiary, $tertiary-lighter, $tertiary-darker);
//   //background-color: #61ada0;
// }
