// ion-content {
//   text-align: center;
//   width: 100%;
//   height: 100%;
// }
// ion-content button {
//   z-index: 3;
//   width: 75px;
//   height: 75px;
// }

page-driverInterface {

  .scroll-content {
    background: linear-gradient(to bottom, $tertiary, $tertiary-darker);
  }

  .driver-nav-button {
    padding: 10px;
    font-size: 14pt;
  }

  #driver-remote-video {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  #driver-local-video, .choose-emoji-button {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 2;
    width: 100px;
    height: 100px;
  }

  #driver-local-video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
  }

  .choose-emoji-button {
    font-size: 40pt;
  }

  #chat {
    font-size: 18pt;
    color: $light-lighter;
    background-color: $primary-lighter;
    text-align:center;
    vertical-align: middle;
    position: absolute; 
    right: 5pt;
    top: 5pt;
    max-width: 75%;
    padding: 5pt;
    border-radius: 10px;
  }

  #control-panel {
    border: 0px solid red;
    z-index: 0;
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: grid;
    grid-template-areas: 
      "servo-up . joystick"
      "servo-down chat joystick";
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    grid-gap: 20px;
    // margin: 20px;
  }

  .invisible {
    visibility: hidden;
  }


  #zone-joystick {
    border: 0px solid red;
    z-index: 2;
    grid-area: joystick;
    position: relative;
    height: 100%;
    width: 100%;
    // position: absolute;
    // top: 0;
  }

  .servo-button {
    border: 0px solid red;
    height: 100%;
    width: 100%;
  }

  #servo-up {
    grid-area: servo-up;
  }

  #servo-down {
    grid-area: servo-down;
  }

  #servo {
    // z-index: 3;
    // position: absolute;
    // left: 0;
    // bottom: 0;
  }

  #chat-container {
    grid-area: chat;
    display: grid;
    grid-template-rows: auto 40pt;
    grid-template-areas: "chat-input chat-send";
  }

  #chat-input {
    grid-area: chat-input;
    border: 1px dotted #888;
    border-radius: 5px;
  }

  #chat-send {
    grid-area: chat-send;
  }



  #call-button {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 20px;
  }
  #call-button button {
    padding: 0px;
    margin: auto;
    width:100%;
    border-radius: 20px;
  }
  #call-button ion-icon {
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    margin: auto;
  }

  #end-call-button {
    background-color: $danger;
    padding: 10px;
    font-size: 14pt;
  }

  #end-call-button ion-icon {
    -moz-webkit-transform: rotate(137deg);
    -webkit-transform: rotate(137deg);
    transform: rotate(137deg);
    color: #fff;
  }

  #toggle-camera-button, #toggle-audio-button {
    padding: 10px;
    font-size: 14pt;
  }

  .toggle-button-enabled {
    background-color: $approve;
  }

  .toggle-button-disabled {
    background-color: $danger;
  }
  

  .ready-to-call {
    background-color: $approve;
  }

  .ready-to-call button {
    background-color: $approve;
    }

  .ready-to-call ion-icon {
    font-size: 60pt;
    color: #fff;
    background-color: $approve;
  }


  .waiting-for-answer {
    background-color: transparent;
  }

  .waiting-for-answer button {
    background-color: transparent;
    opacity: 1;
  }

  .waiting-for-answer ion-icon {
    font-size: 100pt;
    color: $approve;
    background-color: transparent;
    -webkit-animation:shake 1s linear infinite;
    -moz-animation:shake 1s linear infinite;
    animation:shake 1s linear infinite;
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


  @keyframes shake {
    10%, 30% {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
    
    20%, 40% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }

    50%, 100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  @-webkit-keyframes shake {
    10%, 30% {
      -webkit-transform: rotate(5deg);
    }
    
    20%, 40% {
      -webkit-transform: rotate(-5deg);
    }

    50%, 100% {
      -webkit-transform: rotate(0deg);
    }
  }

  @-moz-keyframes shake {
    10%, 30% {
      -moz-webkit-transform: rotate(5deg);
    }
    
    20%, 40% {
      -moz-webkit-transform: rotate(-5deg);
    }

    50%, 100% {
      -moz-webkit-transform: rotate(0deg);
    }
  }
}