page-driverInterface {

  .content {
    background:#888;
  }
  
  #driver-remote-video {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  #corner-div {
    position: absolute;
    top:0;
    right:0;
    width: 25rem;
    height: 25rem;
    display:grid;
    grid-template-rows: 2em auto;
    background-color: #0008;
    border-bottom-left-radius: 5rem;
  }

  #driver-name {
    border: 0px solid red;
    font-size: 2em;
    color:white;
    text-align: center;
    height: 2em;
    line-height: 2em;
  }

  #driver-local-video {
    border: 0px solid red;
    width:75%;
    margin: auto;
    border-radius: 2rem;
  }

  #choose-emoji-button {
    border: 0px solid red;
    width: 75%;
    height: 75%;
    margin: auto;
    font-size: 13rem;
    background: none;
  }
  
  #bottom-bar {
    border: 0px solid red;
    position:absolute;
    bottom:0;
    width:100%;
    height: 15rem;
    display:grid;
    grid-template-columns: 20rem auto 20rem;
  }

  #drive-buttons {
    border: 0px solid yellow;
    perspective: 100px;
    padding: 0 20% 10% 20%;
    background-color: #0008;
  }
  
  #drive-buttons-perspective {
    border: 0px solid blue;
    transform: rotateX(35deg);
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-areas: 
      "forward-button"
      "reverse-button";
  }
  
  .drive-button {
    height: 90%;
    width: 90%;
    margin: auto;
    border-radius: 1rem;
    font-size: 2rem;
  }

  #forward-button {
    grid-area: forward-button;
  }
  
  #reverse-button {
    grid-area: reverse-button;
  }

  #bottom-bar-middle {
    border: 0px solid white;
    display:grid;
    grid-template-areas: 
      "middle-top"
      "middle-bottom";
    grid-template-rows: 50% 50%;
  }

  #bar-curves {
    grid-area: middle-top;
    display: flex;
    justify-content: space-between;
  }

  #curve-left {
    width: 10rem;
    border-top-right-radius: 10rem;
    background-color: #0008;
  }

  #curve-right {
    width: 10rem;
    border-top-left-radius: 10rem;
    background-color: #0008;
  }
  
  #bottom-controls {
    border: 0px solid green;
    grid-area: middle-bottom;
    display: flex;
    justify-items: start;
    padding: 0 12rem 0 12rem;
    align-items: center;
    background-color: #0008;
  }

  .control-button {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    font-size: 2.5rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .control-button-right {
    margin-left: auto;
  }

  #end-call-button {
    background-color: $danger;
  }

  #end-call-button ion-icon {
    -moz-webkit-transform: rotate(137deg);
    -webkit-transform: rotate(137deg);
    transform: rotate(137deg);
    color: #fff;
  }

  #zone-joystick {
    border: 0px solid red;
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #0008;
  }

  #zone-joystick .nipple {
    opacity: 1 !important;
    z-index: 900 !important;
  }
  
  #zone-joystick .back {
    opacity: 1 !important;
    background-color: $primary-darker !important;
  }

  #zone-joystick .front {
    opacity: 1 !important;
    background-color: $primary !important;
  }

  #joystick-arrows-container {
    width: 100%;
    height: 100%;
    display: grid;
  }

  #joystick-arrows {
    width: 11rem;
    height: 11rem;
    margin: auto;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
      ". joy-up ."
      "joy-left . joy-right"
      ". joy-down .";
      z-index: 950 !important;
      position: relative;
      opacity: 0.5;
  }

  .joystick-arrow {
    border: 0px solid red;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin:auto;
    
  }

  #joystick-up {
    grid-area: joy-up;
  }

  #joystick-down {
    grid-area: joy-down;
  }

  #joystick-right {
    grid-area: joy-right;
  }

  #joystick-left{
    grid-area: joy-left;
  }

  



  /* ---------- old stuff below ---- 
  
  .scroll-content {
  }

  .driver-nav-button {
    padding: 10px;
    font-size: 14pt;
  }


  #driver-local-video, .choose-emoji-button {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 2;
    width: 100px;
    height: 100px;
  }

  #driver-local-video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome 
    -moz-transform:rotateY(180deg); /* Firefox 
  }

  .choose-emoji-button {
    font-size: 40pt;
  }
  
  #chat {
    font-size: 18pt;
    color: $light-lighter;
    background-color: $primary-lighter;
    text-align:center;
    vertical-align: middle;
    position: absolute; 
    right: 5pt;
    top: 5pt;
    max-width: 75%;
    padding: 5pt;
    border-radius: 10px;
  }
  
  .hidden-chat {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
  
  #control-panel {
    border: 0px solid red;
    z-index: 0;
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: grid;
    grid-template-areas: 
      "forward-button . joystick"
      "reverse-button chat joystick";
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    grid-gap: 20px;
    // margin: 20px;
  }

  .invisible {
    visibility: hidden;
  }
  
  
  

  #servo {
    // z-index: 3;
    // position: absolute;
    // left: 0;
    // bottom: 0;
  }

  #chat-container {
    grid-area: chat;
    display: grid;
    grid-template-rows: auto 40pt;
    grid-template-areas: "chat-input chat-send";
  }

  #chat-input {
    grid-area: chat-input;
    border: 1px dotted #888;
    border-radius: 5px;
  }

  .is-writing {
    color: $light-lighter;
    background-color: $primary-darker;
  }

  #chat-send {
    grid-area: chat-send;
  }



  #call-button {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 20px;
  }
  #call-button button {
    padding: 0px;
    margin: auto;
    width:100%;
    border-radius: 20px;
  }
  #call-button ion-icon {
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    margin: auto;
  }

  #end-call-button {
    background-color: $danger;
    padding: 10px;
    font-size: 14pt;
  }

  #end-call-button ion-icon {
    -moz-webkit-transform: rotate(137deg);
    -webkit-transform: rotate(137deg);
    transform: rotate(137deg);
    color: #fff;
  }

  #toggle-camera-button, #toggle-audio-button, #toggle-park-button, #toggle-wave-button {
    padding: 10px;
    font-size: 14pt;
  }

  .toggle-button-enabled {
    background-color: $approve;
  }

  .toggle-button-disabled {
    background-color: $danger;
  }

  .toggle-button-waving {
    background-color: $approve;
    -webkit-animation:wave 1s linear infinite;
    -moz-animation:wave 1s linear infinite;
    animation:wave 1s linear infinite;
  }
  

  .ready-to-call {
    background-color: $approve;
  }

  .ready-to-call button {
    background-color: $approve;
    }

  .ready-to-call ion-icon {
    font-size: 60pt;
    color: #fff;
    background-color: $approve;
  }


  .waiting-for-answer {
    background-color: transparent;
  }

  .waiting-for-answer button {
    background-color: transparent;
    opacity: 1;
  }

  .waiting-for-answer ion-icon {
    font-size: 100pt;
    color: $approve;
    background-color: transparent;
    -webkit-animation:shake 1s linear infinite;
    -moz-animation:shake 1s linear infinite;
    animation:shake 1s linear infinite;
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


  @keyframes shake {
    10%, 30% {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
    
    20%, 40% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }

    50%, 100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  @-webkit-keyframes shake {
    10%, 30% {
      -webkit-transform: rotate(5deg);
    }
    
    20%, 40% {
      -webkit-transform: rotate(-5deg);
    }

    50%, 100% {
      -webkit-transform: rotate(0deg);
    }
  }

  @-moz-keyframes shake {
    10%, 30% {
      -moz-webkit-transform: rotate(5deg);
    }
    
    20%, 40% {
      -moz-webkit-transform: rotate(-5deg);
    }

    50%, 100% {
      -moz-webkit-transform: rotate(0deg);
    }
  }



  @keyframes wave {
    0% {
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
      color: $light;
    }
    
    50% {
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      color: $dark;
    }

    100% {
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
      color: $light;
    }
  }

  @-webkit-keyframes wave {
    0% {
      -webkit-transform: rotate(20deg);
      color: $light;
    }
    
    50% {
      -webkit-transform: rotate(-20deg);
      color: $dark;
    }

    100% {
      -webkit-transform: rotate(20deg);
      color: $light;
    }
  }

  @-moz-keyframes wave {
    0% {
      -moz-webkit-transform: rotate(20deg);
      color: $light;
    }
    
    50% {
      -moz-webkit-transform: rotate(-20deg);
      color: $dark;
    }

    100% {
      -moz-webkit-transform: rotate(20deg);
      color: $light;
    }
  }

  */
}