page-driverInterface {
  [ion-fixed] {
    height: 100%;
    width: 100%;
  }
  .scroll-content {
    display: none;
  }

  .content {
    background: #888;
  }

  #driver-remote-video {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  #progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10rem;
    height: 10rem;
    transform: translate(-50%, -50%);
  }

  #top-container {
    border: 0px solid red;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto 25rem;
  }

  #chat-bubble-container {
    position: relative;
  }

  #chat-bubble {
    position: absolute;
    right: 0px;
    margin: 2rem;
    font-size: 3rem;
    color: $light-lighter;
    background-color: $primary-lighter;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 3rem;
    border-radius: 3rem;
    border-top-right-radius: 0px;
  }

  #chat-bubble-point {
    position: absolute;
    right: 0;
    top: 2rem;
    width: 0;
    height: 0;
    border-top: 4rem solid $primary-lighter;
    border-right: 2rem solid transparent;
  }

  .hidden-chat {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }

  #corner-div {
    border: 0px solid yellow;
    position: absolute;
    top: 0;
    right: 0;
    width: 25rem;
    height: 25rem;
    display: grid;
    grid-template-rows: 2em auto;
    background-color: rgba($seethrough, $seethrough-opacity);
    border-bottom-left-radius: 5rem;
  }

  #driver-name {
    border: 0px solid red;
    font-size: 3rem;
    color: white;
    text-align: center;
    height: 2em;
    line-height: 2em;
  }

  #driver-local-video {
    border: 0px solid red;
    width: 75%;
    margin: auto;
    border-radius: 2rem;
  }

  #emoji-container {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  #choose-emoji-button {
    border: 0px solid red;
    width: 100%;
    height: 100%;
    font-size: 11rem;
    margin: 0;
    background: none;
  }

  #emoji-edit-button {
    position: absolute;
    right: 15%;
    bottom: 15%;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/imgs/edit.svg");
  }

  #bottom-bar {
    border: 0px solid red;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 21rem;
    display: grid;
    grid-template-columns: 20rem auto 20rem;
  }

  #drive-buttons {
    border: 0px solid yellow;
    perspective: 100px;
    padding: 0% 0% 10% 30%;

    background-color: rgba($seethrough, $seethrough-opacity);
  }

  #parked-icon {
    width: 10rem;
    height: 10rem;
    position: absolute;
    right: -5rem;
    top: 5rem;
    z-index: 100;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../assets/imgs/parked.svg");
  }

  #drive-buttons-perspective {
    border: 0px solid blue;
    transform: rotateX(35deg) skewX(-14deg);
    width: 120%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-areas:
      "forward-button"
      "reverse-button";
  }

  .drive-button {
    height: 60%;
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 1rem;
    font-size: 2rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  #forward-button {
    height: 100%;
    align-self: flex-end;
    grid-area: forward-button;
    margin-bottom: 1rem;
    background-size: 8rem;
    background-image: url("../assets/imgs/forward_arrow.svg");
  }

  #reverse-button {
    align-self: flex-start;
    grid-area: reverse-button;
    background-size: 6rem;
    background-image: url("../assets/imgs/back_arrow.svg");
  }

  #reverse-button:active,
  #forward-button:active {
    background-color: $primary-darker;
  }

  #bottom-bar-middle {
    border: 0px solid white;
    display: grid;
    grid-template-areas:
      "middle-top"
      "middle-bottom";
    grid-template-rows: 40% 60%;
  }

  #bar-curves {
    grid-area: middle-top;
    display: flex;
    justify-content: space-between;
  }

  #curve-left {
    width: 25rem;
    // border-top-right-radius: 10rem;
    // background-color: rgba($seethrough, $seethrough-opacity);
    background-image: url("../assets/imgs/s-curve.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #curve-right {
    border: 0px solid green;
    width: 25rem;
    // border-top-left-radius: 10rem;
    // background-color: rgba($seethrough, $seethrough-opacity);
    background-image: url("../assets/imgs/s-curve2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // transform: rotateY(180deg);
  }

  #bottom-controls {
    border: 0px solid green;
    grid-area: middle-bottom;
    display: flex;
    justify-items: start;
    padding: 0 12rem 0 12rem;
    align-items: center;
    background-color: rgba($seethrough, $seethrough-opacity);
  }

  .control-button {
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    font-size: 3rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    border: 3px solid $primary;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat;
  }

  .toggle-off {
    background-color: transparent;
    border: 3px dashed $primary;
  }

  .toggle-off:hover {
    background-color: $seethrough !important;
  }

  .control-button-right {
    margin-left: auto;
  }

  #toggle-wave-button:not(.toggle-off) {
    -webkit-animation: wave 1s linear infinite;
    -moz-animation: wave 1s linear infinite;
    animation: wave 1s linear infinite;
  }

  #toggle-wave-button {
    background-image: url("../assets/imgs/hand.svg");
  }

  #toggle-camera-button {
    background-image: url("../assets/imgs/video.svg");
  }

  #toggle-audio-button {
    background-image: url("../assets/imgs/mic.svg");
  }

  #end-call-button {
    // background-color: $danger;
    border-color: $danger;
    background-image: url("../assets/imgs/leave.svg");
  }

  #chat-form {
    border: 0px solid red;
    display: grid;
    grid-template-columns: auto 3rem;
    align-items: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  #chat-input {
    border: 3px solid $primary;
    border-radius: 1rem;
    height: 7rem;
    font-size: 3rem;
    margin-right: 0px;
  }

  #chat-input:focus-within,
  .is-writing {
    color: $light-lighter;
    background-color: $primary-darker;
  }

  #chat-input.chat-input-disabled {
    border-color: rgba($primary, 0.5);
  }

  #chat-send-button {
    border: 0px solid yellow;
    width: 7rem;
    height: 5rem;
    margin-left: -6rem;
    transform: rotate(90deg);
    box-shadow: none;
    opacity: 0.5;
    background-color: transparent;
    background-image: url("../assets/imgs/forward_arrow.svg");
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center;
  }

  #zone-joystick {
    border: 0px solid red;
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba($seethrough, $seethrough-opacity);
  }

  #zone-joystick.joystick-disabled .nipple {
    opacity: 0.5 !important;
  }

  #zone-joystick.joystick-disabled .front {
    display: none !important;
  }

  #zone-joystick .nipple {
    opacity: 1 !important;
    z-index: 900 !important;
  }

  #zone-joystick .back {
    opacity: 1 !important;
    background-color: $primary-darker !important;
    background-image: url("../assets/imgs/angle_arrows.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 12rem !important;
  }

  #zone-joystick .front {
    opacity: 1 !important;
    background-color: $primary !important;
  }

  @keyframes wave {
    0% {
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
      color: $light;
    }

    50% {
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      color: $dark;
    }

    100% {
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
      color: $light;
    }
  }

  @-webkit-keyframes wave {
    0% {
      -webkit-transform: rotate(20deg);
      color: $light;
    }

    50% {
      -webkit-transform: rotate(-20deg);
      color: $dark;
    }

    100% {
      -webkit-transform: rotate(20deg);
      color: $light;
    }
  }

  @-moz-keyframes wave {
    0% {
      -moz-webkit-transform: rotate(20deg);
      color: $light;
    }

    50% {
      -moz-webkit-transform: rotate(-20deg);
      color: $dark;
    }

    100% {
      -moz-webkit-transform: rotate(20deg);
      color: $light;
    }
  }
}
