<ion-header>

  <ion-navbar>
    <ion-title>Elev</ion-title>
    <button (click)="changeCamera()" class="driver-nav-button">
      <ion-icon name="repeat"></ion-icon>
    </button>
    <button class="driver-nav-button">
      <ion-icon name="git-compare" (click)="this.videoVerticalFlipped=!this.videoVerticalFlipped"></ion-icon>
    </button>
    <button (click)="endCall()" id="end-call-button" *ngIf="this.videoLinkActive">
      <ion-icon name="call"></ion-icon>
    </button>
    <button (click)="this.toggleCameraStream()" id="toggle-camera-button" *ngIf="this.videoLinkActive" [class.toggle-button-enabled]="this.showCamera" [class.toggle-button-disabled]="!this.showCamera">
      <ion-icon name="videocam"></ion-icon>
    </button>
    <button (click)="this.toggleAudioStream()" id="toggle-audio-button" *ngIf="this.videoLinkActive" [class.toggle-button-enabled]="!this.muteAudio" [class.toggle-button-disabled]="this.muteAudio">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="call-button" *ngIf="!this.videoLinkActive" [class.ready-to-call]="!this.videoLinkWaitingForAnswer" [class.waiting-for-answer]="this.videoLinkWaitingForAnswer">
    <button (click)="initiateCall()" [disabled]="this.videoLinkWaitingForAnswer">
      <ion-icon name="call"></ion-icon>
    </button>
  </div>
  <video [style.display]="this.videoLinkActive ?  'block': 'none'" id="driver-remote-video" autoplay [class.video-vertical-flip]="this.videoVerticalFlipped">
  </video>
  <!-- <video id="driver-remote-video" autoplay>
  </video> -->
  <video id="driver-local-video" autoplay>
  </video>
  <button (click)="this.presentEmojiPopover($event)" class="choose-emoji-button" [innerHTML]="this.currentEmoji" [hidden]="!this.videoLinkActive || this.showCamera">
  </button>
  <div id="control-panel" [class.invisible]="!this.videoLinkActive">
    <div id="zone-joystick"></div>
    <button ion-button id="servo-up" class="servo-button" (touchstart)="forwardActive = true" (touchend)="forwardActive = false">
      <ion-icon name="arrow-round-up"></ion-icon>
    </button>
    <button ion-button id="servo-down" class="servo-button" (touchstart)="reverseActive = true" (touchend)="reverseActive = false">
      <ion-icon name="arrow-round-down"></ion-icon>
    </button>
  </div>
</ion-content>
