version: "3"

services:
  caddy:
    build: ../caddy
    ports:
      - "80:80"
      - "443:443"
    environment:
      # passing through from env
      - BACKEND_SERVER_PROTOCOL
      - BACKEND_SERVER
    depends_on:
      - "web"
      - "signaling"
    volumes:
      - ~/docker-persistence/caddy:/data
  coturn:
    image: instrumentisto/coturn
    network_mode: "host"
    command: ["-n", "--realm=${BACKEND_SERVER}", "--user=${TURN_USER}:${TURN_PASSWORD}", "--listening-port=${TURN_UDP_PORT}", "--tls-listening-port=${TURN_TLS_PORT}", "--verbose", "--log-file=stdout"]
    # replaced the conf file so we set whole config with .env above instead of mounting the conf file
    # volumes:
    #   - './turnserver.conf:/etc/coturn/turnserver.conf'
    restart: on-failure:20
  signaling:
    build: ../signaling-server
    environment:
      - TURN_USER
      - TURN_PASSWORD
    # ports:
    #   - "3000:3000"
    expose:
      - "3000"
  web:
    environment:
      # passing through from env
      - PARSE_APP_ID
      - BACKEND_SERVER_PROTOCOL
      - BACKEND_SERVER
      - TURN_UDP_PORT
      - TURN_TLS_PORT
      - TURN_USER
      - TURN_PASSWORD
    build: ../../app
    # ports: 
    #   - "8080:8080"
    expose:
      - "8080"
  # mongodb:
  #   image: 'bitnami/mongodb:latest'
  #   volumes:
  #     - '~/docker-persistence:/bitnami/mongodb'
  mongodb:
    image: 'mongo'
    restart: always
    volumes:
      - '~/docker-persistence:/data/db'
  parse:
    image: 'bitnami/parse:latest'
    environment:
      - PARSE_SERVER_MOUNT_GRAPHQL=false
      #passing these variable through from shell environment
      - PARSE_APP_ID
      - PARSE_MASTER_KEY
    # ports:
    #   - '1337:1337'
    expose:
      - "1337"
    # volumes:
    #   - '~/docker-persistence:/bitnami'
    depends_on:
      - mongodb
  parse-dashboard:
    image: 'bitnami/parse-dashboard:latest'
    ports:
      - '4040:4040'
    # expose:
      # - "4040"
    environment:
      - PARSE_USE_HOSTNAME=yes
      - PARSE_DASHBOARD_GRAPHQL_SERVER_URL=${BACKEND_SERVER}/graphql
      # passing through from env
      - PARSE_APP_ID
      - PARSE_MASTER_KEY
      - PARSE_PROTOCOL=${BACKEND_SERVER_PROTOCOL}
      - PARSE_HOST=${BACKEND_SERVER}
      # we use default port since we'll go through caddy's proxy on port 80 
      # (parse is running on 1337 INSIDE the service swarm, but that port is not opened outside)
      - PARSE_PORT_NUMBER=${BACKEND_DEFAULT_PORT_NUMBER}
      - PARSE_DASHBOARD_APP_NAME
      - PARSE_DASHBOARD_USER
      - PARSE_DASHBOARD_PASSWORD
    # volumes:
    #   - '~/docker-persistence:/bitnami'
    depends_on:
      - parse



# vim:set et ts=2 sw=2: